<!-- <div class="d-flex ion-justify-content-between"> -->
<div class="row">
  <div *ngIf="showBackButton" class="col-4 d-flex ion-justify-content-start">
    <a class="" (click)="back()">
      <fa-icon icon="backward" style="font-size: 24px; margin-right: 20px;" class="text-primary"></fa-icon>
    </a>
  </div>
  <div *ngIf="showExportButton"  class="col-4 d-flex ion-justify-content-start">
  </div>
  <div class="col-4 d-flex ion-justify-content-center ion-align-items-center ">
    <h1 class="">Wifi Analyzer </h1>
  </div>
  <div class="col-4 d-flex ion-justify-content-end">
    <div ngbDropdown class="d-inline-block">
      <a class="logout" (click)="logout()">
        <fa-icon icon="sign-out" style="font-size: 24px; margin-right: 20px;" class="text-primary"
          ngbDropdownToggle></fa-icon>
      </a>
      <!-- <fa-icon icon="user" style="font-size: 24px; margin-right: 20px;" class="text-primary"
        ngbDropdownToggle></fa-icon>
      <div class="dropdown-menu" style="max-width: 20px;" ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="['/profile']">Profile</button>
        <button ngbDropdownItem>Logout</button>
      </div> -->
    </div>
    <!-- <fa-icon [routerLink]="['/settings']" expand="block" icon="gear" style="font-size: 24px;"
      class="text-primary cursor-pointer"></fa-icon> -->

  </div>
</div>
<!-- </div> -->
<div class="" style="width: 100%;">
  <div class="row">
    <div *ngIf="status == 'inactive'" class="col-3 d-flex justify-content-between">
      <button id="open-modal" expand="block" class="btn btn-primary ">Create Campaign</button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Create Campaign</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form [formGroup]="campaignForm" (ngSubmit)="createCampaign()">
              <ion-item>
                <ion-input labelPlacement="stacked" type="text" placeholder="campaign name"
                  formControlName="name"></ion-input>
              </ion-item>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-3">Create</button>
              </div>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
      <div class="btn-group me-3" style="margin-left: 30px;">
        <div class="btn-group rounded-2" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-primary p-3 " (click)="campaignList()" ngbDropdownToggle>List
              Campaign</button>
            <div class="dropdown-menu" style="max-width: 20px;" ngbDropdownMenu>
              <!-- <button ngbDropdownItem>Demo 1</button>
              <button ngbDropdownItem>Demo 2</button> -->
              <button *ngFor="let campaign of campaigns" ngbDropdownItem>
                <div class="d-flex justify-content-between">
                  <a (click)="toCampaign(campaign.id)">{{ campaign.name }}</a>
                  <i (click)="deleteCampaign(campaign.id)"><fa-icon icon="xmark" style="font-size: 24px;"
                      class="text-danger"></fa-icon></i>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="status == 'active'" class="col-3 d-flex justify-content-between">
      <button (click)="stopCampaign()" class="btn btn-danger w-25 ">STOP</button>
    </div>
    <div class="col-9 d-flex justify-content-between">
      <h4 class="text-start">{{title}}</h4>


      <div slot="end" *ngIf="showExportButton" class="btn-group me-3" style="margin-left: 30px;">
        <div class="btn-group rounded-2" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <div ngbDropdown class="d-inline-block">
            <div type="button" class=" d-flex align-items-center justify-content-center rounded-3" ngbDropdownToggle style="height: 40px; width: 100px;background-color: #009688;">
              <p class="mb-0">Export</p>
              <fa-icon icon="download" style="font-size: 20px;margin-left: 10px;"></fa-icon>
            </div>
            <div  ngbDropdownMenu style="max-width: 100px; ">
              <button (click)="downloadPdf()" ngbDropdownItem class="my-1">Export PDF</button>
              <button (click)="downloadXlsx()" ngbDropdownItem class="my-1">Export XLSX</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<hr>
