#main{
  background-color: #060818;
  height: 100%;
  width: 100%;
  color: white;
}
.profile{
  background-color: #191e3a;
  width: 50%;
  height: 600px;
}

.cards{
  background-color:#181b25 ;
  height: 150px;
  width: 300px;
  margin-top: 10px;
  padding: 20px;
  border: 2px;
  border-color: #31304a;
}
